@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
    box-sizing: border-box;
    

}

header{
    background-color: rgba(189, 187, 187, 0.315);
    display: flex;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    justify-content: center;
    
}

header .logo {
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;
    
    
    
}

header .logo {
    background-image: url(../img/Logo.png);
}

header .menu ol {

    display: flex;
    width: 100%;
    margin-top: 45px;  
    margin-left: 45px; 
}

header .menu a {
    font-weight: bold;
    padding: 10px 40px;    
    margin-right: 40px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    opacity: 1;
  

    border: 2px solid black;

}

header .menu a:hover{
    opacity: 0.4;
}


header .menu li {
    list-style: none;
}

.Bg-main{
 display: flex;
 justify-content: center;
 align-items:center;
 background-image: url(/img/Background/Paraiba.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;
 height: 470px;
 border-bottom: 7px solid tomato;
 
}
section .text-1 h1{
    font-size: 7rem;
    color: #f3f3f3;
    margin-left: 600px;
    
}
section .text-1 p{
    color: #f3f3f3;
    margin-left: 600px;
    font-size: 3rem;
}
main h4{
    margin: 30px;
    color: black;
    font-size: 2.5rem;
    margin-left: 22px;
    font-family: "montserrat", sans-serif;
    line-height: 1;
}



/*main*/

main{
    
    width: 100vw;
    height: 250vh;
    display: flex;
    
}

.carrosel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 17.13vw;
    height: 100vh;
    margin-top: 10%;
    margin-left: -7%;
    
}
.card{
    position: relative;
    width: 27.37vw;
    height: 93.92vh;
    margin: 8%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: tomato;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
.fundo{
    width: 20.05vw;
    height: 34.88vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
    font-family: 'Roboto';
}
h2{
    text-align: center;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 400px;
    font-family: "montserrat", sans-serif;
}  
 .text-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    color: #f3f3f3;
 }
.link   {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 55px;
    background-color: #f7adad;
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 18px;
    color: black;
    text-decoration: none;

}
a:active{
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
h3{ 
    position:absolute;
    margin-top: 60%;
    color: black;
    font-size: 2.5rem;
    font-family: "montserrat", sans-serif;
    line-height: 1;
    width: 100%;
    height: 80px;  
    padding-left: 22px;
    padding-top: 20px;  
}

.videos{
    display: flex;
    justify-content: center;
    width: 17.13vw;
    height: 90vh;
    margin-top: 65%;
    justify-content: space-around;
    margin-left: 10%;
}
.video3{
    margin-left: 12%;
}
    
    



/*FOOTER*/

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 210px;
    background-color: white;  
}

footer .perfil{
    width: 25%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    }

footer #imgPerfilBianca {
    background-image: url("../img/ImgBianca.png");
}


footer #imgPerfilGabriel {
    background-image: url("../img/ImgGabriel.png");
}

footer #imgPerfilGabriela {
    background-image: url("../img/ImgGabriela.png");
}


footer a {
    display: flex;
    margin-left: 1em;    
}


.rodape p {
    font-family: "montserrat", sans-serif;
    background-color: black;
    height: 40px; 
    text-align: center;
    padding-top: 10px;
    color: white;
}

.bi-linkedin {
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: none; 
    color: black;
}

.bi-github {
    text-decoration: none; 
    color: red;
}


