@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
    box-sizing: border-box;
    margin-left: -6px;
    

}


header{
    background-color: rgba(189, 187, 187, 0.315);
    display: flex;
    width: 100vw;
    height: 19.2vh;
    position: fixed;
    z-index: 1;
    justify-content: center;
    
}

header .logo {
    background-repeat: no-repeat;
    width: 21.96vw;
    height: 24vh;

    
    
}

header .logo {
    background-image: url(../img/Logo.png);
}

header .menu ol {

    display: flex;
    width: 55vw;
    margin-top: 45px;  
    margin-left: 45px; 
    justify-content: space-between;
}

header .menu a {
    font-weight: bold;
    padding: 10px 40px;    
    margin-right: 50px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    opacity: 1;

}

header .menu a:hover{
    opacity: 0.4;
}


header .menu li {
    list-style: none;
}

.Bg-main{
 display: flex;
 justify-content: center;
 align-items:center;
 background-image: url(../img/Background/Paraiba.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;
 height: 74.40vh;

 
}
section .text-1 h1{
    font-size: 7rem;
    color: #f3f3f3;
    margin-left: 600px;
    
}
section .text-1 p{
    font-family: 'Anton';
    color: #f3f3f3;
    margin-left: 600px;
    font-size: 3rem;
}
main h4{
    margin: 50px;
    color: black;
    font-size: 2.3rem;
    margin-left: 22px;
    font-family: "montserrat", sans-serif;
    line-height: 1;
    position:absolute;
    margin-left: 220px;
    padding: 0 190px 0 190px;

}




/*main*/

main{
   
    
    width: 100vw;
    height: 250vh;
    display: flex;
    
    
}

.carrosel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 17.13vw;
    height: 100vh;
    margin-top: 10%;
    margin-left: 150px;
    
}

.card{
    position: relative;
    width: 90.37vw;
    height: 95.92vh;
    margin: 8%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: tomato;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    
}



.fundo{
    width: 25.05vw;
    height: 36.88vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 0px;

}
.text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    font-family: 'Roboto';
    padding-left: 12px;
    color: #f3f3f3;
    font-size: 1rem;
    padding: 20px;
    
}
h2{
    text-align: center;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 400px;
    font-family: "montserrat", sans-serif;
}  
 
 
.link   {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    background-color: #f7adad;
    margin-top: 24px;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-decoration: none;

}
a:active{
    
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

h3{ 
    position:absolute;
    margin-top: 60%;
    color: black;
    font-size: 2.5rem;
    font-family: "montserrat", sans-serif;
    line-height: 1;
    width: 100vw;
    height: 12.8vh;  
    padding-left: 480px;
    padding-top: 50px;  
}

.videos{
    display: flex;
    justify-content: center;
    width: 17.13vw;
    height: 90vh;
    margin-top: 70%;
    justify-content: space-around;
    margin-left: 220px;

    
    
}
.video3{
    margin-left: 12%;
    margin-top: 20px;
    
}
    
iframe{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 10px solid #f3f3f3
}



/*FOOTER*/

footer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 33.6vh;
    background-color: white;  
    
    
    
}

footer .perfil{
    width: 100vw;
    height: 33vh;
    background-position: center;
    background-repeat: no-repeat; 
    
    
    }

footer #imgPerfilBianca {
    background-image: url("../img/ImgBianca.png");
    margin-left: 50px;
    padding-left: 60px;
}


footer #imgPerfilGabriel {
    background-image: url("../img/ImgGabriel.png");
}

footer #imgPerfilGabriela {
    background-image: url("../img/ImgGabriela.png");
    

}


footer a {
    display: flex;
    margin-left: 1em;    
}


.rodape p {
    font-family: "montserrat", sans-serif;
    background-color: black;
    height: 6.4vh; 
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 1rem;
}

.bi-linkedin {
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: none; 
    color: black;
}

.bi-github {
    text-decoration: none; 
    color: red;
}
@media(max-width: 460px){
    .Bg-main{
        display: none;;
    }
    header .logo{
        display: none;
        
    }
    header .menu ol{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90vw;
    }
    header .menu a{
        display: flex;
        margin: 5px;
        height: 10vh;
        width: 95vw;
        align-items: center;
        margin-left: -22px;
        

    }
    header{
        position: absolute;
        height: 57vh;
        width: 100vw;
        background-color: none;
        margin-left: 12px;
        
        
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:700vh;
       
    }
    .carrosel{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100vh;
        margin-left: 22px;
    }
    .text-card{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 70vh;
        font-size: 1rem;
        line-height: 1.4rem;
       
        
    }
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 180vh;
        margin-left: 8%;
    }
    .fundo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 70vh;
        width: 372px;
    }
    .link{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 10vh;
        width: 20vw;
        margin: 12px;
    }
    h2{
        font-size: 2rem;
        margin-top: 62px;
    }
    .videos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 670px;
        margin-left: 8%;
    }
    .video3{
        margin-left: 2%;
    }
    iframe{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 400px;
        
        
        
    }
    h3{
        position: relative;
        font-size: 2rem;
        top: 550px;
        left: 53px;
    }
    h4{
        position: relative;
        height: 800px;
        padding-left: 100px;
    }
    .nome{
        display: none;
        
    }
   
    
}

    

